/* Resources Page Styles */
.resources-page {
    padding: 50px 20px;
    background-color: #4A4B2F; /* Neutral background color */
}

/* Section Title Styles */
.section-title {
    font-size: 32px;
    color: #D4DF9E; /* Light color for section header */
    margin-bottom: 30px;
}

/* Instruction Section Styles */
.instruction {
    background-color: #30321C; /* Darker neutral color */
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.instruction h2 {
    font-size: 28px;
    color: #D4DF9E; /* Light color for section header */
    margin-bottom: 20px;
}

.instruction ol {
    font-size: 16px;
    color: #D4DF9E; /* Light color for text */
    line-height: 1.6;
    margin-bottom: 10px;
}

.instruction li {
    margin-bottom: 10px;
}

/* Travel Essentials Section Styles */
.travel-essentials {
    background-color: #30321C; /* Darker neutral color */
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.travel-essentials h2 {
    font-size: 28px;
    color: #D4DF9E; /* Light color for section header */
    margin-bottom: 20px;
}

.travel-essentials ul {
    font-size: 16px;
    color: #D4DF9E; /* Light color for text */
    line-height: 1.6;
}

.travel-essentials li {
    margin-bottom: 10px;
}

/* Do's and Don'ts Section Styles */
.do-donts {
    display: flex;
    justify-content: space-between;
    background-color: #30321C; /* Darker neutral color */
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.do-section, .dont-section {
    width: 48%;
}

.do-section h3, .dont-section h3 {
    font-size: 24px;
    color: #D4DF9E; /* Light color for section header */
    margin-bottom: 10px;
}

.do-section p, .dont-section p {
    font-size: 16px;
    color: #D4DF9E; /* Light color for text */
    line-height: 1.5;
    margin-bottom: 10px;
}

.do-section hr, .dont-section hr {
    border: 0;
    border-top: 1px solid #D4DF9E; /* Light color for line separator */
    margin: 10px 0;
}
